<p>
  <a href="/auth/facebook"><img src="http://i.imgur.com/OqNU4KT.png"></a>
</p>

<p>
  <a href="/auth/twitter"><img src="http://i.imgur.com/YkVRktQ.png"></a>
</p>

<%= render "form", :user => @user %>