<div class="left group">
  <div class="social">
    <h1>Use social!</h1>
    <a id="facebook" href="/auth/facebook"><img src="http://i.imgur.com/UIbkQV6.png"></a>

    <p>or</p>

    <a id="twitter" href="/auth/twitter"><img src="http://i.imgur.com/JzFd7Qi.png"></a>
  </div>
</div>

<div class="right group">
  <%= render "form", :user => @user %>
</div>