<div class="prof-content group">

  <h2>Welcome to <%= @user.username %>'s Profile!</h2>
  <br>


  <div class="prof-left group">

    <% if @user.photo.file? %>
      <%= image_tag @user.photo.url(:big) %>
    <% elsif @user.image? %>
      <%= image_tag @user.image, size: "100x100" %>
    <% else %>
      <%= image_tag "http://i.imgur.com/xqtsqlj.png", size: "100x100" %>
    <% end %>

    <br>

    <% if current_user == @user %>
      <%= link_to "Edit Profile", edit_user_url(@user) %>
    <% end %>

    <% unless current_user == @user %>
      <% if current_user.followed_users.include?(@user) %>
        <%= button_to "UNFOLLOW", user_follow_url(@user), method: :delete, form_class: "follow-button grad_button" %>
      <% else %>
        <%= button_to "FOLLOW", user_follows_url(@user), method: :post, form_class: "follow-button grad_button" %>
      <% end %>
    <% end %>

    <ul>
      <li>Hometown: <%= @user.location %></li>
      <li>Age: <%= @user.age %></li>
      <li>Gender: <%= @user.gender %></li>
    </ul>

    <h3>Biography:</h3>
    <p><%= @user.biography %></p>

  </div>

  <div class="prof-mid group">
    <h3>Reviews:</h3>
    <%= render "reviews/user", :user => @user %>
  </div>

  <div class="prof-right group">
    <h3>Favorite Places:</h3>
    <%= render "favorites/user", :user => @user %>

    <%= render "follows/user", :user => @user %>
  </div>
</div>