<div class="content group">

  <h1 id="city-index">Pick a city to browse!</h1>

  <div class="cities group">
    <ul>
    <% @cities.each do |city| %>

    <li class="city-tile" id="<%= city.state.name %>"><a href="<%= city_restaurants_url(city) %>"><label class="special-text"><%= city.name %>, <%= city.state.name %></label></a></li>

    <% end %>
    </ul>
  </div>
</div>