<div class="content group">

  <h1>Use the search or pick a city to browse!</h1>

  <ul>
  <% @cities.each do |city| %>

  <li><a href="<%= city_restaurants_url(city) %>"><%= city.name %>, <%= city.state.name %></a></li>

  <% end %>
  </ul>

</div>