/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/*
  RESET!
*/

html, body, form, h1, div, label, ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/*
  CLEAR FIX!
*/

.group:after {
  display: block;
  clear: both;
  content: "";
}

/*
  BUTTON STYLING
*/

.grad_button {
    background: -webkit-linear-gradient(top, rgba(194,17,1,1) 0%,rgba(107,0,0,1) 100%);
}

.grad_button:hover {
    background: -webkit-linear-gradient(top, rgba(107,0,0,1) 0%,rgba(194,17,1,1) 100%);
}

/*
  SIGN-IN PAGE
*/

.left {
  width: 45%;
  float: left;
  padding: 0;
  margin: 0;
  text-align: center;
}

.left .social {
  margin: 0;
  padding: 50px 0 0 70px;
}

.left #facebook {

}

.left #facebook img {
  display: block;
  margin: 0 auto;
}

.left #twitter {

}

.left #twitter img{
  display: block;
  margin: 0 auto;
}

.right {
  width: 49%;
  float: right;
  padding: 0 25px 0 0;
}

.social h1 {
  font-weight: bold;
  font-size: 60px;
  margin: 0 0 30px 0;
}

.social p {
  margin: 15px 0;
}

/*
  NAV BAR
*/

header {
  background: -webkit-linear-gradient(top, rgba(194,17,1,1) 0%,rgba(185,12,3,1) 44%,rgba(176,7,6,1) 100%);
}

header a {
  color: #00f;
  text-decoration: none;
}

.top-nav {
  position: relative;
  width: 100%;
  height: 80px;
  margin: auto;
  border-bottom: 1px solid black;
  box-shadow: 1px 1px 3px gray;
  background-image: url("http://s3-media1.ak.yelpcdn.com/assets/2/www/img/7ccfbbb81622/structural/header_stars.png");
}

.info {
  position: relative;
  display: block;
  float: right;
  padding: 20px;
  background: #F0F3F8;
  border-radius: 3px;
  height: 40px;
}

nav ul {
  list-style: none;
}

nav .container {
  width: 1000px;
  height: 80px;
  margin: 0 auto;
}

nav form {
  padding: 0;
  margin: 0;
}

.logo {
  float: left;
  padding: 0 35px
}

.search {
  float: left;
  padding-left: 25px;
  margin-top: 4px;
}

.search form {
  float: left;
  display: block;
  padding: 0;
  margin-top: 10px;
  width: 100%;
  margin-left: 20px;
}

.search-box {
  -webkit-appearance: none;
  background: #F5F5F1;
  float: left;
  border: 2px solid #000;
  width: 190px;
  height: 30px;
  border-radius: 5px;
  margin-right: 15px;
}

.search-box label {
  font-weight: bold;
  line-height: 30px;
  padding-left: 5px;
}

.search-box input[type=text] {
  position: relative;
  width: 140px;
  height: 30px;
  left: 3px;
}

.search-box select {
  position: relative;
  float: right;
  width: 150px;
  height: 30px;
  overflow: hidden;
  -webkit-appearance: none;
  border: none;
  background: transparent url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") no-repeat right center;
  right: 5px;
}

.search-select {
  font-size: 14px;
  background: #fff;
  line-height: 30px;
}

.search-submit {
  position: relative;
  display: block;
  float: left;
  background: -webkit-linear-gradient(top, rgba(194,17,1,1) 0%,rgba(107,0,0,1) 100%);
  border: 1px solid black;
  border-radius: 5px;
  padding: 0;
  margin: 0;
  width: 40px;
  height: 32px;
}

.search-submit:hover {
  background: -webkit-linear-gradient(top, rgba(107,0,0,1) 0%,rgba(194,17,1,1) 100%);
}

#find {
  background: url("http://i.imgur.com/CBhuWpi.png") no-repeat 0 0;
  background-size: 25px;
  background-position: center;
  display: inline-block;
  width: 40px;
  height: 32px;
  color: #fff;
  font-weight: bold;
  padding: 0;
  margin: 0;
  cursor: pointer;
  top: -5px;
}

.mini-nav {
  padding-left: 10px;
}

.mini-nav a {
  display: block;
  color: #fff;
  text-decoration: none;
}

.mini-nav li {
  display: block;
  padding: 3px 6px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 -1px 0 #760400;
  float: left;
  margin: 6px;
  border-radius: 3px;
}

.mini-nav li:hover {
  font-weight: bold;
  color: #fff;
  background: #8F0802;
  -moz-box-shadow:    inset 0 0 3px #000000;
  -webkit-box-shadow: inset 0 0 3px #000000;
  box-shadow:         inset 0 0 3px #000000;
}


/*
  FORM STYLING!
*/

input[type="text"],
input[type="username"],
input[type="password"],
input[type="submit"],
input[type="email"],
input[type="url"],
textarea {
  -webkit-appearance: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  color: inherit;
  font: inherit;
  width: auto;
}

.form {
  margin: 0 auto;
  width: 400px;
  padding: 50px;
  border-radius: 10px;
}

.form > h1 {
  font-size: 60px;
  font-weight: bold;
  margin: 0 0 20px 0;
}

.input {
  margin: 20px 0;
}

.input > label {
  display: block;
  font-weight: bold;
  padding: 0 0 5px 0;
}

.input > input {
  border: 2px solid #000;
  padding: 5px 10px;
  width: 250px;
  border-radius: 5px;
}

.input > input[type="radio"] {
  width: auto;
  outline: 0;
}

.input > textarea {
  margin-top: -15px;
  position: relative;
  border: 2px solid #000;
  padding: 5px 10px;
  width: 400px;
  height: 250px;
  border-radius: 5px;
}

.input > input[type="file"] {
  border: none;
}

.category {
  list-style: none;
  float: left;
  margin: 5px;
}

.input > input:focus {
  outline: 1px solid #C4DBF0;
}

textarea:focus {
  outline: 1px solid #C4DBF0;
}

.submit {

}

.submit > input {
  position: relative;
  float: right;
  background: -webkit-linear-gradient(top, rgba(194,17,1,1) 0%,rgba(107,0,0,1) 100%);
  color: #fff;
  padding: 10px 15px;
  margin-right: 125px;
  border-radius: 5px;
  cursor: pointer;
}

.submit > input:hover {
  background: -webkit-linear-gradient(top, rgba(107,0,0,1) 0%,rgba(194,17,1,1) 100%);
}

.button {
  position: relative;
  float: right;
  background: -webkit-linear-gradient(top, rgba(194,17,1,1) 0%,rgba(107,0,0,1) 100%);
  color: #fff;
  padding: 10px 15px;
  margin-right: 125px;
  border-radius: 5px;
  cursor: pointer;
}

.back-button {
  width: 100%;
  margin: 10px 0 50px 0;
}

.back-button .back {
  position: relative;
  background: -webkit-linear-gradient(top, rgba(194,17,1,1) 0%,rgba(107,0,0,1) 100%);
  color: #fff;
  padding: 10px 15px;
  margin-right: 125px;
  border-radius: 5px;
  cursor: pointer;
  left: 510px;
}

.back-button .back:hover {
  background: -webkit-linear-gradient(top, rgba(107,0,0,1) 0%,rgba(194,17,1,1) 100%);
}

.delete-button {
  padding: 0;
  margin: 0;
}

.delete-button .delete {
  position: relative;
  background: -webkit-linear-gradient(top, rgba(194,17,1,1) 0%,rgba(107,0,0,1) 100%);
  color: #fff;
  padding: 10px 15px;
  margin-right: 125px;
  border-radius: 5px;
  cursor: pointer;
  left: 442px;
  width: 104px;
  margin: -30px 0 25px 0;
}

.delete-button .delete:hover {
  background: -webkit-linear-gradient(top, rgba(107,0,0,1) 0%,rgba(194,17,1,1) 100%);
}

/*
  MODAL!!!!
*/

.has-active-modal .modal {
  display: block;
}

.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.modal form {
  padding: 25px;
  margin: 0;
  display: inline-block;
}

.modal:before {
  content: "";
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  /*background: rgba(0,0,0,0.5);*/
}

.modal-box {
  position: absolute;
  top: 100px;
  left: 50%;

  width: 475px;
  min-height: 100px;

  margin-top: -100px;
  margin-left: -237px;

  background: #fff;
  border: 10px solid #000;
  border-radius: 5px;
}

.modal-close-button {
  position: absolute;
  display: block;
  top: 0;
  right: 10px;
  font-size: 40px;
  line-height: 1.0;
  font-weight: bold;
  color: #999;
  cursor: pointer;
}

.modal-close-button:hover {
  color: #000;
}

/*
  MAIN CONTAINER!
*/

body {
  font-family: sans-serif;
  background: #F5F5F1;
}

body a {
  color: #00f;
  text-decoration: none;
}

main {
  position: relative;
  padding-top: 1px;
}

.main {
  width: 1000px;
  height: 100%;
  margin: auto;
  background: white;
  border-left: 1px solid #CCCCC8;
  border-right: 1px solid #CCCCC8;
  border-bottom: 1px solid #CCCCC8;
}

.city-switch {
  float: right;
  padding: 10px;
}

.content {
  margin: 0 auto;
  padding: 25px 100px;
}

.content > h1 {
  font-size: 60px;
  font-weight: bold;
  margin: 0 0 20px 0;
}

.content ul {
  list-style: none;
}

.content ol {
  list-style: none;
}

.results {
  margin-left: 90px;
  padding: 30px 0;
}

.search_results {
  margin-left: 135px;
  padding: 50px 0;
}

.content img {
  display: block;
  position: relative;
  float: left;
  margin-left: 15px;
}


/*
  USER PROFILE STYLING!
*/

.prof-content {
  margin: 0 auto;
  padding: 20px 25px;
}

.prof-content h2 {
  display: inline-block;
  width: auto;
  padding-bottom: 25px;
  margin: 0;
  font-size: 48px;
}

.prof-content h4 {
  display: inline-block;
  width: auto;
  padding: 0;
  margin: 0;
  border: 0;
  font-size:24px;
}

.prof-left {
  display: block;
  width: 20%;
  float: left;
  padding: 0 0 0 35px;
}

.prof-mid {
  width: 50%;
  float: left;
  border-left: 1px solid #E5E5E1;
  border-right: 1px solid #E5E5E1;
}

.prof-right {
  width: 25%;
  float: right;
}

.prof-content ul {
  list-style: none;
}

.prof-mid h3 {
  display: block;
  font-size: 32px;
  padding-left: 25px;
  margin: 0;
}

.prof-review {
  float: left;
  display: block;
  position: relative;
  width: 90%;
  padding: 25px;

}

.prof-review .review-body {
  display: inline-block;
  font-family: sans-serif;
  font-size: 14px;
  line-height: normal;
  word-break: normal;
  white-space: pre-wrap;
}

.prof-content a {
  text-decoration: none;
  color: #00f;
}

.follow-button {
  display: block;
  width: 100px;
  height: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.follow-button div {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  text-align: center;
}

.follow-button input[type="submit"] {
  display: inline-block;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  width: 100px;
  cursor: pointer;
}

/*
  RESTAURANT PROFILE STYLING!
*/

.rest-content {
  margin: 0 auto;
  padding: 25px 35px;
}

.rest-content a {
  color: #00f;
  text-decoration: none;
}

.rest-content h2 {
  margin: 0;
  width: auto;
  display: inline-block;
}

.rest-content h3 {
  margin: 25px 0 10px 0;
  width: auto;
  display: inline-block;
}

.rest-content ul {
  list-style: none;
}

.rest-left {
  width: 65%;
  float: left;
}

.rest-photo {
  position: relative;
  display: block;
  float: right;
}

.rest-info {

}

.rest-info ul {
  display: block;
  width: auto;
  padding: 0;
  margin: 0;
}

.rest-info ul li {
  display: block;
  width: auto;
  padding: 0;
  margin: 0;
}

.rest-right {
  width: 35%;
  float: right;
  margin: 0 auto;
}

#map-canvas {
  position: relative;
  display: block;
  width: 300px;
  height: 300px;
  padding: 0px;
  border: 1px solid #999;
  float: right;
}

.favorite-button {
  display: block;
  padding: 5px;
  width: 80px;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  border-radius: 5px;
}

.cool-button input[type="submit"] {
  display: block;
  float: left;
  padding: 5px;
  width: 90px;
  color: #00f;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.badge {
  display: inline-block;
  background: #C4DBF0;
  border: 1px solid #ccc;
  font-size: 12px;
  font-weight: bold;
  color: #333;
  padding: 2px 7px;
  border-radius: 8px;
  margin: 2px;
}

.delete-review div {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
  width: 100px;
}

.delete-review input[type=submit] {
  display: block;
  padding: 5px;
  color: #00f;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

/*
  REST REVIEW STYLING
*/

.review {
  position: relative;
  display: block;
  border-top: 1px solid #ccc;
  padding: 15px 0;
  margin: 0;
}

.review-date {
  display: inline-block;
  font-size: 14px;
}

.review-body {
  display: block;
  font-family: sans-serif;
  font-size: 14px;
  line-height: normal;
  word-break: normal;
  white-space: pre-wrap;
  padding: 0 10px;
}

/*
  CITY INDEX VIEW
*/

#city-index {
  text-align: center;
}

.cities {
  display: block;
  padding: 0 0 0 35px;
}

.city-tile {
  display: block;
  position: relative;
  height: 250px;
  width: 350px;
  overflow: hidden;
  float: left;
  margin: 0 25px 25px 0;
  border: 1px solid #999;
}

#NY {
  background: url(http://clsnoms.files.wordpress.com/2012/09/11-c7.jpg);
  background-size: 150%;
  background-position: center;
}

#CA {
  background: url(http://static5.businessinsider.com/image/51d1b818eab8ea8916000007-1200/california-eat-an-extravagant-445-meal-at-chef-thomas-kellers-napa-valley-restaurant-the-french-laundry.jpg);
  background-size: 150%;
  background-position: center;
}

#MA {
  background: url(http://mentonboston.com/wp-content/uploads/2012/07/home_06b.jpg);
  background-position: center;
  background-size: 150%;
}

#NH {
  background: url(http://s3-media4.ak.yelpcdn.com/bphoto/qpgxv8Qo7mZ9WTeUHFr2RA/l.jpg);
  background-position: center;
  background-size: 150%;
}

.city-tile a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  text-align: center;
  background: rgba(0,0,0,0.2);
  cursor: pointer;
}

.city-tile label {
  display: block;
  font-size: 30px;
  color: #fff;
  padding-top: 30%;
  line-height: 1.2;
  margin: 0;
  text-shadow: 0 1px 8px rgba(0,0,0,0.5);
  cursor: pointer;
}

.city-tile label:hover {
  background: transparent;
}

.city-tile a:hover {
  background: transparent;
}

/*
  FOOTER
*/

footer {
  position: relative;
  width: 100%;
  height: 80px;
}

.footer {
  width: 1000px;
  height: 80px;
  margin: 0 auto;
  font-size: 14px;
  color: gray;
}
