/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/*
  RESET!
*/

html, body, form, h1, div, label, ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/*
  CLEAR FIX!
*/

.group:after {
  display: block;
  clear: both;
  content: "";
}

/*
  BUTTON STYLING
*/

.grad_button {
    background: -webkit-linear-gradient(top, rgba(194,17,1,1) 0%,rgba(107,0,0,1) 100%);
}

.grad_button:hover {
    background: -webkit-linear-gradient(top, rgba(107,0,0,1) 0%,rgba(194,17,1,1) 100%);
}

/*
  NAV BAR
*/

header {
  background: -webkit-linear-gradient(top, rgba(194,17,1,1) 0%,rgba(185,12,3,1) 44%,rgba(176,7,6,1) 100%);
}

header a {
  color: #00f;
  text-decoration: none;
}

.top-nav {
  position: relative;
  width: 100%;
  height: 80px;
  margin: auto;
  border-bottom: 1px solid black;
  box-shadow: 1px 1px 3px gray;
  background-image: url("http://s3-media1.ak.yelpcdn.com/assets/2/www/img/7ccfbbb81622/structural/header_stars.png");
}

.info {
  position: relative;
  display: block;
  float: right;
  padding: 20px;
  background: #F0F3F8;
  border-radius: 3px;
  height: 40px;
}

nav ul {
  list-style: none;
}

nav .container {
  width: 1000px;
  height: 80px;
  margin: 0 auto;
}

nav form {
  padding: 0;
  margin: 0;
}

.logo {
  float: left;
  padding: 0 35px
}

.search {
  float: left;
  padding-left: 25px;
  margin-top: 4px;
}

.search form {
  float: left;
  display: block;
  padding: 0;
  margin-top: 10px;
  width: 100%;
  margin-left: 20px;
}

.search-box {
  -webkit-appearance: none;
  background: #F5F5F1;
  float: left;
  border: 2px solid #000;
  width: 190px;
  height: 30px;
  border-radius: 5px;
  margin-right: 15px;
}

.search-box label {
  font-weight: bold;
  line-height: 30px;
  padding-left: 5px;
}

.search-box input[type=text] {
  position: relative;
  width: 140px;
  height: 30px;
  left: 3px;
}

.search-box select {
  position: relative;
  float: right;
  width: 150px;
  height: 30px;
  overflow: hidden;
  -webkit-appearance: none;
  border: none;
  background: transparent url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") no-repeat right center;
  right: 5px;
}

.search-select {
  font-size: 14px;
  background: #fff;
  line-height: 30px;
}

.search-submit {
  display: block;
  float: left;
}

#find {
  background: -webkit-linear-gradient(top, rgba(194,17,1,1) 0%,rgba(107,0,0,1) 100%);
  display: block;
  color: #fff;
  font-weight: bold;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  height: 33px;
}

#find:hover {
  background: -webkit-linear-gradient(top, rgba(107,0,0,1) 0%,rgba(194,17,1,1) 100%);
}

.mini-nav {
  padding-left: 10px;
}

.mini-nav a {
  display: block;
  color: #fff;
  text-decoration: none;
}

.mini-nav li {
  display: block;
  padding: 3px 6px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 -1px 0 #760400;
  float: left;
  margin: 6px;
  border-radius: 3px;
}

.mini-nav li:hover {
  font-weight: bold;
  color: #fff;
  background: #8F0802;
  -moz-box-shadow:    inset 0 0 3px #000000;
  -webkit-box-shadow: inset 0 0 3px #000000;
  box-shadow:         inset 0 0 3px #000000;
}


/*
  FORM STYLING!
*/

input[type="text"],
input[type="username"],
input[type="password"],
input[type="submit"],
input[type="email"],
input[type="url"],
textarea {
  -webkit-appearance: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  color: inherit;
  font: inherit;
  width: auto;
}

.form {
  margin: 0 auto;
  width: 400px;
  padding: 50px;
  border-radius: 10px;
}

.form > h1 {
  font-size: 60px;
  font-weight: bold;
  margin: 0 0 20px 0;
}

.input {
  margin: 20px 0;
}

.input > label {
  display: block;
  font-weight: bold;
  padding: 0 0 5px 0;
}

.input > input {
  border: 2px solid #000;
  padding: 5px 10px;
  width: 250px;
  border-radius: 5px;
}

.input > input[type="radio"] {
  width: auto;
  outline: 0;
}

.input > textarea {
  margin-top: -15px;
  position: relative;
  border: 2px solid #000;
  padding: 5px 10px;
  width: 250px;
  height: 100px;
  border-radius: 5px;
}

.input > input[type="file"] {
  border: none;
}

.category {
  list-style: none;
  float: left;
  margin: 5px;
}

.input > input:focus {
  outline: 1px solid #C4DBF0;
}

.submit {

}

.submit > input {
  position: relative;
  float: right;
  background: -webkit-linear-gradient(top, rgba(194,17,1,1) 0%,rgba(107,0,0,1) 100%);
  color: #fff;
  padding: 10px 15px;
  margin-right: 125px;
  border-radius: 5px;
  cursor: pointer;
}

.submit > input:hover {
  background: -webkit-linear-gradient(top, rgba(107,0,0,1) 0%,rgba(194,17,1,1) 100%);
}

.button {
  position: relative;
  float: right;
  background: -webkit-linear-gradient(top, rgba(194,17,1,1) 0%,rgba(107,0,0,1) 100%);
  color: #fff;
  padding: 10px 15px;
  margin-right: 125px;
  border-radius: 5px;
  cursor: pointer;
}

.back-button {
  width: 100%;
  margin: 10px 0 50px 0;
}

.back-button .back {
  position: relative;
  background: -webkit-linear-gradient(top, rgba(194,17,1,1) 0%,rgba(107,0,0,1) 100%);
  color: #fff;
  padding: 10px 15px;
  margin-right: 125px;
  border-radius: 5px;
  cursor: pointer;
  left: 510px;
}

.back-button .back:hover {
  background: -webkit-linear-gradient(top, rgba(107,0,0,1) 0%,rgba(194,17,1,1) 100%);
}

.delete-button {
  padding: 0;
  margin: 0;
}

.delete-button .delete {
  position: relative;
  background: -webkit-linear-gradient(top, rgba(194,17,1,1) 0%,rgba(107,0,0,1) 100%);
  color: #fff;
  padding: 10px 15px;
  margin-right: 125px;
  border-radius: 5px;
  cursor: pointer;
  left: 442px;
  width: 104px;
  margin: -30px 0 25px 0;
}

.delete-button .delete:hover {
  background: -webkit-linear-gradient(top, rgba(107,0,0,1) 0%,rgba(194,17,1,1) 100%);
}

/*
  MAIN CONTAINER!
*/

body {
  font-family: sans-serif;
  background: #F5F5F1;
}

body a {
  color: #00f;
  text-decoration: none;
}

main {
  position: relative;
  padding-top: 1px;
}

.main {
  width: 1000px;
  height: 100%;
  margin: auto;
  background: white;
  border-left: 1px solid #CCCCC8;
  border-right: 1px solid #CCCCC8;
  border-bottom: 1px solid #CCCCC8;
}

.city-switch {
  float: right;
  padding: 10px;
}

.content {
  margin: 0 auto;
  padding: 25px 100px;
}

.content > h1 {
  font-size: 60px;
  font-weight: bold;
  margin: 0 0 20px 0;
}

.content ul {
  list-style: none;
}

.content ol {
  list-style: none;
}

.results {
  margin-left: 90px;
  padding: 30px 0;
}

.search_results {
  margin-left: 135px;
  padding: 50px 0;
}

.content img {
  display: block;
  position: relative;
  float: left;
}


/*
  USER PROFILE STYLING!
*/

.prof-content {
  margin: 0 auto;
  padding: 20px 25px;
}

.prof-content h2 {
  display: inline-block;
  width: auto;
  padding-bottom: 25px;
  margin: 0;
  font-size: 48px;
}

.prof-content h4 {
  display: inline-block;
  width: auto;
  padding: 0;
  margin: 0;
  border: 0;
  font-size:24px;
}

.prof-left {
  width: 25%;
  float: left;
}

.prof-mid {
  width: 45%;
  float: left;
  border-left: 1px solid #E5E5E1;
  border-right: 1px solid #E5E5E1;
}

.prof-right {
  width: 25%;
  float: right;
}

.prof-content ul {
  list-style: none;
}

.prof-mid h3 {
  display: block;
  font-size: 32px;
  padding-left: 25px;
  margin: 0;
}

.prof-review {
  float: left;
  display: block;
  position: relative;
  width: 90%;
  padding: 25px;

}

.prof-review .review-body {
  display: inline-block;
  font-family: sans-serif;
  font-size: 14px;
  line-height: normal;
  word-break: normal;
  white-space: pre-wrap;
}

.prof-content a {
  text-decoration: none;
  color: #00f;
}

.follow-button {
  display: inline-block;
  padding: 5px;
  width: 90px;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 20px;
}


/*
  RESTAURANT PROFILE STYLING!
*/

.rest-content {
  margin: 0 auto;
  padding: 25px 45px;
}

.rest-content a {
  color: #00f;
  text-decoration: none;
}

.rest-content h2 {
  margin: 0;
  width: auto;
  display: inline-block;
}

.rest-content h3 {
  margin: 25px 0 10px 0;
  width: auto;
  display: inline-block;
}

.rest-content ul {
  list-style: none;
}

.rest-left {
  width: 65%;
  float: left;
}

.rest-photo {
  position: relative;
  display: block;
  float: right;
}

.rest-info {

}

.rest-info ul {
  display: block;
  width: auto;
  padding: 0;
  margin: 0;
}

.rest-info ul li {
  display: block;
  width: auto;
  padding: 0;
  margin: 0;
}

.rest-right {
  width: 35%;
  float: right;
  margin: 0 auto;
}

#map-canvas {
  position: relative;
  display: block;
  width: 300px;
  height: 300px;
  padding: 0px;
  border: 1px solid #999;
  float: right;
}

.favorite-button {
  display: inline-block;
  padding: 5px;
  width: 80px;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 20px;
}

/*
  REST REVIEW STYLING
*/

.review {
  position: relative;
  display: block;
  border-top: 1px solid #ccc;
  padding: 15px 0;
}

.review-body {
  display: inline-block;
  font-family: sans-serif;
  font-size: 14px;
  line-height: normal;
  word-break: normal;
  white-space: pre-wrap;
}



/*
  FOOTER
*/

footer {
  position: relative;
  width: 100%;
  height: 80px;
}

.footer {
  width: 1000px;
  height: 80px;
  margin: 0 auto;
  font-size: 14px;
  color: gray;
}