<%= render "form", :review => @review %>

<br><br>

<div class="button">
  <%= button_to "Delete Review", review_url(@review), method: :delete %>
</div>

<div class="button">
  <%= button_to "Back", user_url(current_user), method: :get %>
</div>